.fset_red > .InputfieldHeader,
.fset_red > .InputfieldHeader:hover{
	color: #bc283d;
}

#modalForm {
	padding: 15px;
	overflow: hidden;
}

#modalForm input,
#modalForm select {
	margin-bottom: 10px;
	width: 100%;
}

#modalForm {
	display: none;
}

#modalForm .ui-state-error {
	border: 1px solid #cd0a0a !important;
}

.asmListItem {
	padding-left: 25px;
}

.asmListItemStatus {
	justify-items: center;
	align-content: center;
	right: auto;
	left: 0;
	width: 25px;
	max-height: 100%;
}

.asmListItemStatus.asmListItemStatus {
	display: grid;
	padding: 0;
}

.asmListItemStatus .ui-button {
	line-height: unset;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	padding: 3px 7px;
}

.asmListItemStatus.asmListItemStatus i {
	margin: 0;
}

.asmListItemLabel{
	margin-left: 55px;
}

.asmListItemHandle {
	left: 30px !important;
}

.trash {
	margin-right: 10px;
}

#addNew {
	display: block;
	margin-top: 10px;
	font-size: 110%;
}

#tips {
	color: #e83561;
}

/*#wrap_settings {
	display: none;
}*/



